# FastAPI Settings
PROJECT_NAME="CareerLaunch MVP"
VERSION="0.1.0"

# Supabase Configuration
SUPABASE_URL="https://csjywuflkvohytbvglxf.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzanl3dWZsa3ZvaHl0YnZnbHhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0MTkwMjYsImV4cCI6MjEwMDk5NTAyNn0.u-X0jNl4NlVZrskwHglg079crnKig-Je9Jqq2-tgUGg"
SUPABASE_JWT_SECRET="EFBJ6J6ZikTOgJGI0pYtO2QgnFY4R3/Rn6UYRR7PgFicJ7NINvkMEdOaigoY9NDZqvW39p4+6uQx/Sg+7W8Eyg=="
